<!DOCTYPE html>
<html lang="en">
<head>
		<title>Network Service Center -- {% block title %}{%endblock%}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/imperio.css" />
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
	</head>
    <body>
        <div class="container-fluid nopadding">
            <div class="row-fluid">
                <div class="span12">
                    <div id="header">
                        <a href="#">
							<img src="/static/img/logo.png" alt="" />
						</a>
						<div class="hright">
							<div id="search" class="column">
								<div class="search">
									<form method="post" action="#">
										<input type="text" placeholder="Search here" value="Search here" name="keyword" id="keyword" /> 
									</form>
								</div>
							</div>
							<div id="userinfo" class="column">
								<a class="userinfo dropown-toggle" data-toggle="dropdown" href="#userinfo">
									<img alt="" src="img/avatar.jpg" />
									<span><strong>Admin</strong></span>
								</a>
                                    <ul class="dropdown-menu">
										<li><a href="#">Edit Profile</a></li>
										<li><a href="#">Edit Preferences</a></li>
										<li><a href="#">Private Messages</a></li>
										<li class="divider"></li>
										<li><a href="login.html">Logout</a></li>
									</ul>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="container">
        <div class="row-fluid">
                <div class="span3 leftmenu">
                    <ul class="nav">
                        <li class="{% ifequal request.path "/issue/" %}active{% endifequal %}"><a href="{% url issue_index %}"><span class="ico"><i class="icon-home"></i></span><span class="text">Issue</span></a></li>
                        <li class="{% ifequal request.path "/project/" %}active{% endifequal %}"><a href="{% url project_index %}"><span class="ico"><i class="icon-edit"></i></span><span class="text">Project</span></a></li>
                        <li class="{% ifequal request.path "/employee/" %}active{% endifequal %}"><a href="{% url employee_index %}"><span class="ico"><i class="icon-bold"></i></span><span class="text">Employee</span></a></li>
                    </ul>
                </div>
            {% block container %}{% endblock %}
        </div>  
    
    
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <!-- Explorer canvas, for IE6-8 support of canvas elements -->
        <!--[if lt IE 9]>
            <script src="/static/js/excanvas.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/static/js/imperio.general.js"></script>
	<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/static/js/imperio.tables.js"></script>
    </body>

<!-- Mirrored from wbpreview.com/previews/WB0N98JX2/index.html by HTTrack Website Copier/3.x [XR&CO'2010], Tue, 04 Dec 2012 02:58:16 GMT -->
</html>